<h1>Directives</h1>
<label>Page Input </label><input type="text" ng-model="dirCtrl.dirCtrlProperty" /><br>
<text-scope template-property="Literal Text"></text-scope>
<text-scope template-property="{{dirCtrl.dirCtrlProperty}}"></text-scope>
<two-way-scope template-property="dirCtrl.dirCtrlProperty"></two-way-scope>
<function-scope template-property="dirCtrl.actOnParentProperty(param)"></function-scope>
